body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(13, 13, 63);
}
#head{
    display:block;
    text-align: center;
    color: #fff;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

/* Chart section css */
.chart-section{
    background-color:rgb(18, 15, 239);
    height: 500px; 
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px; 
    width: 60%; 
    box-sizing: border-box; 
    padding: 20px;
}

/* Stocks Graph css */
#stock-chart{
    display: inline-block;
    margin: 10px;
    width: 800px;
    height:400px ;
    background-color: #152de2;
    border-radius: 20px;
}

/* button css */
button{
    background-color: #071897;
    font-size: 18px;
    margin: 20px;
    color: #fff;
    border-radius: 10px;
    border: none;
}

/* Display summary css(Stocks details) */
#stock-details{
    display: block;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
    bottom: 0; 
    color: #fff;
}

/* Stocks list css */
#stock-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    margin: 48px;
    
}

/* Stocks item value, profit css */
.stock-item{
    display: flex;
    align-items: center;
    height: 8px;
    padding-bottom: 20px;
    margin: 6px; 
    color: #fff;
}

.stock-stats-item{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 70px;
    width: 150px;
    
}

/* Stocks list css name like AAPL*/
.stock-list-item{ 
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    cursor: pointer;
    width: 50px;
    height: 20px;
    font-size: small;
    color: #fff;
    background-color: #152de2;
    border: 1px solid #b3e0ff;
    border-radius: 5px;
    
}
